#navigation {
  background-color: var(--primary);
  padding-block: 1.6rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1366px;
    margin-inline: auto;
    padding-inline: 2rem;

    a.brand {
      display: block;
      width: 20rem;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      color: var(--white);
      gap: 2rem;

      ul {
        display: flex;

        li {
          padding-inline: 2rem;
          color: var(--white);
          transition: color 0.3s;

          &:not(:first-child) {
            border-left: 1px solid var(--white);
          }

          &:hover {
            color: var(--secondary);
          }
        }
      }

      a.button {
        background-color: var(--secondary);
        padding: 1rem 2rem;
        color: var(--primary);
        transition: filter 0.3s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }

    button.openMenu,
    button.closeMenu {
      display: none;

      width: 4rem;
      height: 4rem;

      background-color: transparent;
      border: none;
    }

    @media (max-width: 1100px) {
      .menu {
        width: 100%;
        height: 100vh;
        flex-direction: column;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: -1;

        background-color: var(--primary);

        transition: right 0.3s;

        ul {
          padding-top: 5rem;
          flex-direction: column;
          align-items: flex-start;

          li {
            padding-block: 1rem;
            border: 0 !important;

            font-size: 1.8rem;
          }
        }
      }

      button.closeMenu {
        display: none;
      }

      button.openMenu {
        display: block;
      }

      &.active {
        .menu {
          right: 0;
        }

        button.closeMenu {
          display: block;
        }

        button.openMenu {
          display: none;
        }
      }
    }
  }
}

#banner {
  width: 100%;
  height: 60rem;
  padding: 2rem;
  background: url('../assets/images/hero_img.svg');
  background-repeat: no-repeat;
  background-position: 101% -95px;
  background-size: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  .bannerContent {
    max-width: 1140px;
    width: 100%;

    .bannerText {
      max-width: 40rem;
      width: 100%;

      h1 {
        font-size: 4rem;
        color: var(--primary);

        span {
          color: var(--black);
          font-family: 'Abhaya Libre', serif;

          display: block;
        }
      }

      strong {
        margin-top: 20px;
        display: inline-block;
      }
    }
  }
}

#services {
  .servicesContent {
    max-width: 1140px;
    margin: 0 auto;
    padding: 2rem;

    h3 {
      position: relative;
      font-size: 2rem;
      color: var(--primary);

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 200px;
        left: 0;
        height: 4px;
        border-radius: 2px;
        background: linear-gradient(111.3deg, var(--primary) 9.6%, var(--white) 93.6%);
      }
    }

    .servicesGrid {
      width: 100%;
      margin-top: 20px;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media (max-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 660px) {
        grid-template-columns: 1fr;
      }

      .servicesCard {
        width: 100%;
        height: 290px;
        padding: 1rem;
        box-shadow: 0 5px 12px rgba(121, 86, 156, 0.2);

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        img {
          max-height: 100px;
        }

        strong {
          color: var(--primary);
          margin: 5px 0;
        }

        a {
          font-weight: bold;
          margin-top: auto;
        }
      }
    }
  }
}