#navigation {
  background-color: var(--primary);
  padding-block: 1.6rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1366px;
    margin-inline: auto;
    padding-inline: 2rem;

    a.brand {
      display: block;
      width: 20rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      color: var(--white);
      gap: 2rem;

      ul {
        display: flex;

        li {
          padding-inline: 2rem;
          color: var(--white);
          transition: color 0.3s;

          &:not(:first-child) {
            border-left: 1px solid var(--white);
          }

          &:hover {
            color: var(--secondary);
          }
        }
      }

      a.button {
        background-color: var(--secondary);
        padding: 1rem 2rem;
        color: var(--primary);
        transition: filter 0.3s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }

    button.openMenu,
    button.closeMenu {
      display: none;

      width: 4rem;
      height: 4rem;

      background-color: transparent;
      border: none;
    }

    @media (max-width: 1100px) {
      .menu {
        width: 100%;
        height: 100vh;
        flex-direction: column;

        position: fixed;
        top: var(--nav-height);
        right: -100%;
        z-index: -1;

        background-color: var(--primary);

        transition: right 0.3s;

        ul {
          padding-top: 5rem;
          flex-direction: column;
          align-items: flex-start;

          li {
            padding-block: 1rem;
            border: 0 !important;

            font-size: 1.8rem;
          }
        }
      }

      button.closeMenu {
        display: none;
      }

      button.openMenu {
        display: block;
      }

      &.active {
        .menu {
          right: 0;
        }

        button.closeMenu {
          display: block;
        }

        button.openMenu {
          display: none;
        }
      }
    }
  }
}

#banner {
  width: 100%;
  padding: 2rem;
  
  .bannerContent {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .bannerText {
      max-width: 40rem;
      width: 100%;

      h1 {
        font-size: 4rem;
        color: var(--primary);

        span {
          color: var(--black);
          font-family: "Abhaya Libre", serif;

          display: block;
        }
      }

      strong {
        margin-top: 20px;
        display: inline-block;
      }
    }

    img {
      max-width: 600px;
      width: 100%;
    }
  }
}

#services {
  width: 100%;
  padding: 12rem 2rem;

  .servicesContent {
    max-width: 1140px;
    margin: 0 auto;

    h3 {
      position: relative;
      font-size: 2rem;
      color: var(--primary);

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 200px;
        left: 0;
        height: 4px;
        border-radius: 2px;
        background: linear-gradient(111.3deg,
            var(--primary) 9.6%,
            var(--white) 93.6%);
      }
    }

    .servicesGrid {
      width: 100%;
      margin-top: 20px;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media (max-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 650px) {
        grid-template-columns: 1fr;
      }

      .servicesCard {
        width: 100%;
        height: 290px;
        padding: 1rem;
        box-shadow: 0 5px 12px rgba(121, 86, 156, 0.2);

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        img {
          max-height: 100px;
        }

        strong {
          color: var(--primary);
          margin: 5px 0;
        }

        a {
          font-weight: bold;
          margin-top: auto;
        }
      }
    }
  }
}

#dataDriven {
  width: 100%;
  padding: 2rem;

  .dataDrivenContent {
    max-width: 1140px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    img {
      max-width: 450px;
      width: 100%;

      @media (max-width: 1100px) {
        max-width: 300px;
      }

      @media (max-width: 650px) {
        display: none;
      }
    }

    .dataDrivenTextContent {
      width: 100%;
      background: linear-gradient(90deg,
          var(--white) 9.6%,
          var(--primary) 93.6%);
      padding: 10px 20px;
      border-radius: 20px;

      @media (max-width: 1100px) {
        background: rgba(121, 86, 156, 0.6);
      }

      @media (max-width: 650px) {
        background: rgba(121, 86, 156, 0.6);
      }

      .dataDrivenText {
        max-width: 400px;
        text-align: right;
        margin-left: auto;

        @media (max-width: 650px) {
          max-width: 500px;
          margin: 0 auto;
          text-align: left;
        }

        h2 {
          font-size: 4rem;
          color: var(--white);
          margin-left: auto;

          span {
            color: var(--black);
            font-family: "Abhaya Libre", serif;

            display: block;
          }
        }

        p {
          color: var(--black);
          font-weight: 100;
        }
      }
    }
  }
}

#dashboards {
  width: 100%;
  padding: 2rem;

  .dashboardsContent {
    max-width: 1140px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .dashboardsText {
      max-width: 350px;
      width: 100%;

      h3 {
        font-size: 4rem;
        color: var(--primary);

        span {
          color: var(--black);
          font-family: "Abhaya Libre", serif;

          display: block;
        }
      }

      strong {
        margin-top: 10px;
        display: inline-block;
      }

      p {
        font-weight: 100;
      }
    }

    img {
      max-width: 600px;
      width: 100%;
    }
  }
}

#clients {
  width: 100%;
  padding: 2rem;

  .clientsContent {
    max-width: 1140px;
    margin: 0 auto;

    div.titleContent {
      width: fit-content;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        position: relative;
        font-size: 2rem;
        color: var(--primary);

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          width: 200px;
          left: 0;
          height: 4px;
          border-radius: 2px;
          background: linear-gradient(111.3deg,
              var(--primary) 9.6%,
              var(--white) 93.6%);
        }
      }
    }

    .clientsCarousel {
      width: 100%;
      height: 150px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      border: 1;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      img {
        display: block;
        width: 90px;
        object-fit: contain;
        // transition: opacity 0.2s;
        // opacity: 0.4;

        &.fixProportion {
          width: 150px;
        }

        // &:hover {
        //   opacity: 1;
        // }
      }
    }

    .swiper-button-next {
      display: none;
    }

    .swiper-button-prev {
      display: none;
    }
  }
}

#integrated {
  width: 100%;
  padding: 2rem;

  .integratedContent {
    max-width: 1140px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    img {
      max-width: 600px;
      width: 100%;
    }

    .integratedText {
      max-width: 320px;
      width: 100%;
      text-align: right;

      h3 {
        font-size: 4rem;
        font-family: "Abhaya Libre", serif;
        color: var(--black);
        line-height: 30px;

        span {
          font-family: "Roboto", serif;
          font-size: 3rem;
          color: var(--primary);

          display: block;
        }
      }

      p {
        margin-top: 10px;
        font-weight: 100;

        strong {
          color: var(--black);
        }
      }
    }
  }
}

#media {
  width: 100%;
  padding: 2rem;

  .mediaContent {
    max-width: 1140px;
    margin: 0 auto;

    div.titleContent {
      width: fit-content;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        position: relative;
        font-size: 2rem;
        color: var(--primary);

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          width: 200px;
          left: 0;
          height: 4px;
          border-radius: 2px;
          background: linear-gradient(111.3deg,
              var(--primary) 9.6%,
              var(--white) 93.6%);
        }
      }
    }

    .mediaGrid {
      margin-top: 20px;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      @media (max-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 650px) {
        grid-template-columns: 1fr;
      }

      .mediaCard {
        background-color: var(--white);
        box-shadow: 0 5px 12px rgba(121, 86, 156, 0.2);
        padding: 20px;
        text-align: center;

        h4 {
          color: var(--primary);
        }

        p {
          font-weight: 100;
          margin: 10px 0;
        }

        a {
          font-weight: bold;
        }
      }
    }
  }
}

#contact {
  width: 100%;
  padding: 2rem;

  .contactContent {
    max-width: 1140px;
    margin: 0 auto;

    div.titleContent {
      width: fit-content;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid red;

      h3 {
        position: relative;
        font-size: 2rem;
        color: var(--primary);

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          width: 200px;
          left: 0;
          height: 4px;
          border-radius: 2px;
          background: linear-gradient(111.3deg,
              var(--primary) 9.6%,
              var(--white) 93.6%);
        }
      }
    }

    form {
      max-width: 90rem;
      margin: 6rem auto;

      display: flex;
      gap: 1rem;

      input,
      select {
        width: 100%;
        height: 5rem;
        padding: 1rem 1rem 0;
        border: 2px solid var(--primary);
        color: var(--text);

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      .inputTextColumn {
        flex: 1;
      }

      .TextAreaColumn {
        flex: 1;
        display: flex;
        flex-direction: column;

        textarea {
          flex: 1;
          padding: 1rem 1rem 0;
          border: 2px solid var(--primary);
          color: var(--text);
        }
      }

      button[type="submit"] {
        align-self: flex-end;

        padding: 1rem 2rem;
        background: var(--primary);
        color: var(--white);
        border: none;
        transition: background 0.2s;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }

  @media (max-width: 650px) {
    form {
      flex-direction: column;

      textarea {
        min-height: 20rem;
      }
    }
  }
}

footer {
  background-color: var(--primary);
  padding: 3rem 2rem;

  header {
    width: 100%;
    max-width: 1140px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;

    a.brand {
      img {
        width: 20rem;
      }
    }

    .menu {
      color: var(--white);
      display: flex;

      .menuItem {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child) {
          a.title {
            border-right: 1px solid var(--white);
            padding-right: 2rem;
          }
        }

        a.title {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 2rem;
          margin-bottom: 1rem;
          padding-left: 2rem;
        }

        a.sub {
          display: block;
          text-align: center;
          font-size: 1.4rem;
          color: var(--text);
          filter: brightness(1.6);
          margin-bottom: 0.8rem;
        }
      }
    }
  }

  .socialLinks {
    margin: 1rem auto;
    max-width: 1140px;

    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  .rights {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 2rem;
    border-top: 2px solid var(--white);

    color: var(--white);
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 920px) {
    header {
      gap: 4rem;

      a.brand {
        flex: 1;
      }

      .menu {
        flex: 1;
        flex-direction: column;

        .menuItem {
          border-bottom: 1px solid var(--white);
          margin-bottom: 1rem;
          position: relative;

          &.hasSubItems {

            &::after,
            &::before {
              content: "";
              width: 1.4rem;
              height: 0.2rem;
              background: var(--white);

              position: absolute;
              right: 1rem;
              top: 1.2rem;
              cursor: pointer;

              transition: transform 0.3s;
            }

            &::after {
              transform: rotate(90deg);
            }
          }

          a.title {
            border-right: 0 !important;
            padding: 0 !important;
            width: min-content;
          }

          &.active {
            &::before {
              transform: rotate(45deg);
            }

            &::after {
              transform: rotate(-45deg);
            }

            .subItems {
              max-height: 100vh;

              a.sub {
                visibility: visible;
              }
            }
          }

          .subItems {
            max-height: 0px;
            transition: max-height 0.5s;

            a.sub {
              visibility: hidden;
              transition: visibility 0.3s;
            }
          }
        }
      }
    }
  }

  @media (max-width: 650px) {
    header {
      flex-direction: column;
      margin-bottom: 5rem;
    }

    .rights {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}

#backToTopButton {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  z-index: 10000;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: all 0.2s;

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    filter: drop-shadow(0 0 0.05rem var(--headline));
  }
}