#navigation {
  background-color: var(--primary);
  padding-block: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1366px;
  margin-inline: auto;
  padding-inline: 2rem;
}

#navigation .container a.brand {
  display: block;
  width: 20rem;
}

#navigation .container a.brand img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#navigation .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  gap: 2rem;
}

#navigation .container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navigation .container .menu ul li {
  padding-inline: 2rem;
  color: var(--white);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

#navigation .container .menu ul li:not(:first-child) {
  border-left: 1px solid var(--white);
}

#navigation .container .menu ul li:hover {
  color: var(--secondary);
}

#navigation .container .menu a.button {
  background-color: var(--secondary);
  padding: 1rem 2rem;
  color: var(--primary);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

#navigation .container .menu a.button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

#navigation .container button.openMenu,
#navigation .container button.closeMenu {
  display: none;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: none;
}

@media (max-width: 1100px) {
  #navigation .container .menu {
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: var(--nav-height);
    right: -100%;
    z-index: -1;
    background-color: var(--primary);
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
  }
  #navigation .container .menu ul {
    padding-top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #navigation .container .menu ul li {
    padding-block: 1rem;
    border: 0 !important;
    font-size: 1.8rem;
  }
  #navigation .container button.closeMenu {
    display: none;
  }
  #navigation .container button.openMenu {
    display: block;
  }
  #navigation .container.active .menu {
    right: 0;
  }
  #navigation .container.active button.closeMenu {
    display: block;
  }
  #navigation .container.active button.openMenu {
    display: none;
  }
}

#banner {
  width: 100%;
  padding: 2rem;
}

#banner .bannerContent {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#banner .bannerContent .bannerText {
  max-width: 40rem;
  width: 100%;
}

#banner .bannerContent .bannerText h1 {
  font-size: 4rem;
  color: var(--primary);
}

#banner .bannerContent .bannerText h1 span {
  color: var(--black);
  font-family: "Abhaya Libre", serif;
  display: block;
}

#banner .bannerContent .bannerText strong {
  margin-top: 20px;
  display: inline-block;
}

#banner .bannerContent img {
  max-width: 600px;
  width: 100%;
}

#services {
  width: 100%;
  padding: 12rem 2rem;
}

#services .servicesContent {
  max-width: 1140px;
  margin: 0 auto;
}

#services .servicesContent h3 {
  position: relative;
  font-size: 2rem;
  color: var(--primary);
}

#services .servicesContent h3::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 200px;
  left: 0;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, var(--primary) 9.6%, var(--white) 93.6%);
}

#services .servicesContent .servicesGrid {
  width: 100%;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1100px) {
  #services .servicesContent .servicesGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  #services .servicesContent .servicesGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#services .servicesContent .servicesGrid .servicesCard {
  width: 100%;
  height: 290px;
  padding: 1rem;
  -webkit-box-shadow: 0 5px 12px rgba(121, 86, 156, 0.2);
          box-shadow: 0 5px 12px rgba(121, 86, 156, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#services .servicesContent .servicesGrid .servicesCard img {
  max-height: 100px;
}

#services .servicesContent .servicesGrid .servicesCard strong {
  color: var(--primary);
  margin: 5px 0;
}

#services .servicesContent .servicesGrid .servicesCard a {
  font-weight: bold;
  margin-top: auto;
}

#dataDriven {
  width: 100%;
  padding: 2rem;
}

#dataDriven .dataDrivenContent {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

#dataDriven .dataDrivenContent img {
  max-width: 450px;
  width: 100%;
}

@media (max-width: 1100px) {
  #dataDriven .dataDrivenContent img {
    max-width: 300px;
  }
}

@media (max-width: 650px) {
  #dataDriven .dataDrivenContent img {
    display: none;
  }
}

#dataDriven .dataDrivenContent .dataDrivenTextContent {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(9.6%, var(--white)), color-stop(93.6%, var(--primary)));
  background: linear-gradient(90deg, var(--white) 9.6%, var(--primary) 93.6%);
  padding: 10px 20px;
  border-radius: 20px;
}

@media (max-width: 1100px) {
  #dataDriven .dataDrivenContent .dataDrivenTextContent {
    background: rgba(121, 86, 156, 0.6);
  }
}

@media (max-width: 650px) {
  #dataDriven .dataDrivenContent .dataDrivenTextContent {
    background: rgba(121, 86, 156, 0.6);
  }
}

#dataDriven .dataDrivenContent .dataDrivenTextContent .dataDrivenText {
  max-width: 400px;
  text-align: right;
  margin-left: auto;
}

@media (max-width: 650px) {
  #dataDriven .dataDrivenContent .dataDrivenTextContent .dataDrivenText {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
  }
}

#dataDriven .dataDrivenContent .dataDrivenTextContent .dataDrivenText h2 {
  font-size: 4rem;
  color: var(--white);
  margin-left: auto;
}

#dataDriven .dataDrivenContent .dataDrivenTextContent .dataDrivenText h2 span {
  color: var(--black);
  font-family: "Abhaya Libre", serif;
  display: block;
}

#dataDriven .dataDrivenContent .dataDrivenTextContent .dataDrivenText p {
  color: var(--black);
  font-weight: 100;
}

#dashboards {
  width: 100%;
  padding: 2rem;
}

#dashboards .dashboardsContent {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

#dashboards .dashboardsContent .dashboardsText {
  max-width: 350px;
  width: 100%;
}

#dashboards .dashboardsContent .dashboardsText h3 {
  font-size: 4rem;
  color: var(--primary);
}

#dashboards .dashboardsContent .dashboardsText h3 span {
  color: var(--black);
  font-family: "Abhaya Libre", serif;
  display: block;
}

#dashboards .dashboardsContent .dashboardsText strong {
  margin-top: 10px;
  display: inline-block;
}

#dashboards .dashboardsContent .dashboardsText p {
  font-weight: 100;
}

#dashboards .dashboardsContent img {
  max-width: 600px;
  width: 100%;
}

#clients {
  width: 100%;
  padding: 2rem;
}

#clients .clientsContent {
  max-width: 1140px;
  margin: 0 auto;
}

#clients .clientsContent div.titleContent {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#clients .clientsContent div.titleContent h3 {
  position: relative;
  font-size: 2rem;
  color: var(--primary);
}

#clients .clientsContent div.titleContent h3::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 200px;
  left: 0;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, var(--primary) 9.6%, var(--white) 93.6%);
}

#clients .clientsContent .clientsCarousel {
  width: 100%;
  height: 150px;
}

#clients .clientsContent .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border: 1;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#clients .clientsContent .swiper-slide img {
  display: block;
  width: 90px;
  -o-object-fit: contain;
     object-fit: contain;
}

#clients .clientsContent .swiper-slide img.fixProportion {
  width: 150px;
}

#clients .clientsContent .swiper-button-next {
  display: none;
}

#clients .clientsContent .swiper-button-prev {
  display: none;
}

#integrated {
  width: 100%;
  padding: 2rem;
}

#integrated .integratedContent {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

#integrated .integratedContent img {
  max-width: 600px;
  width: 100%;
}

#integrated .integratedContent .integratedText {
  max-width: 320px;
  width: 100%;
  text-align: right;
}

#integrated .integratedContent .integratedText h3 {
  font-size: 4rem;
  font-family: "Abhaya Libre", serif;
  color: var(--black);
  line-height: 30px;
}

#integrated .integratedContent .integratedText h3 span {
  font-family: "Roboto", serif;
  font-size: 3rem;
  color: var(--primary);
  display: block;
}

#integrated .integratedContent .integratedText p {
  margin-top: 10px;
  font-weight: 100;
}

#integrated .integratedContent .integratedText p strong {
  color: var(--black);
}

#media {
  width: 100%;
  padding: 2rem;
}

#media .mediaContent {
  max-width: 1140px;
  margin: 0 auto;
}

#media .mediaContent div.titleContent {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#media .mediaContent div.titleContent h3 {
  position: relative;
  font-size: 2rem;
  color: var(--primary);
}

#media .mediaContent div.titleContent h3::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 200px;
  left: 0;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, var(--primary) 9.6%, var(--white) 93.6%);
}

#media .mediaContent .mediaGrid {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1100px) {
  #media .mediaContent .mediaGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  #media .mediaContent .mediaGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#media .mediaContent .mediaGrid .mediaCard {
  background-color: var(--white);
  -webkit-box-shadow: 0 5px 12px rgba(121, 86, 156, 0.2);
          box-shadow: 0 5px 12px rgba(121, 86, 156, 0.2);
  padding: 20px;
  text-align: center;
}

#media .mediaContent .mediaGrid .mediaCard h4 {
  color: var(--primary);
}

#media .mediaContent .mediaGrid .mediaCard p {
  font-weight: 100;
  margin: 10px 0;
}

#media .mediaContent .mediaGrid .mediaCard a {
  font-weight: bold;
}

#contact {
  width: 100%;
  padding: 2rem;
}

#contact .contactContent {
  max-width: 1140px;
  margin: 0 auto;
}

#contact .contactContent div.titleContent {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .contactContent div.titleContent h3 {
  position: relative;
  font-size: 2rem;
  color: var(--primary);
}

#contact .contactContent div.titleContent h3::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 200px;
  left: 0;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, var(--primary) 9.6%, var(--white) 93.6%);
}

#contact .contactContent form {
  max-width: 90rem;
  margin: 6rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

#contact .contactContent form input,
#contact .contactContent form select {
  width: 100%;
  height: 5rem;
  padding: 1rem 1rem 0;
  border: 2px solid var(--primary);
  color: var(--text);
}

#contact .contactContent form input:not(:last-child),
#contact .contactContent form select:not(:last-child) {
  margin-bottom: 1rem;
}

#contact .contactContent form .inputTextColumn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#contact .contactContent form .TextAreaColumn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contactContent form .TextAreaColumn textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 1rem 0;
  border: 2px solid var(--primary);
  color: var(--text);
}

#contact .contactContent form button[type="submit"] {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1rem 2rem;
  background: var(--primary);
  color: var(--white);
  border: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

#contact .contactContent form button[type="submit"]:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

@media (max-width: 650px) {
  #contact form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact form textarea {
    min-height: 20rem;
  }
}

footer {
  background-color: var(--primary);
  padding: 3rem 2rem;
}

footer header {
  width: 100%;
  max-width: 1140px;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer header a.brand img {
  width: 20rem;
}

footer header .menu {
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer header .menu .menuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer header .menu .menuItem:not(:last-child) a.title {
  border-right: 1px solid var(--white);
  padding-right: 2rem;
}

footer header .menu .menuItem a.title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

footer header .menu .menuItem a.sub {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  color: var(--text);
  -webkit-filter: brightness(1.6);
          filter: brightness(1.6);
  margin-bottom: 0.8rem;
}

footer .socialLinks {
  margin: 1rem auto;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

footer .socialLinks img {
  width: 4rem;
  height: 4rem;
}

footer .rights {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 2rem;
  border-top: 2px solid var(--white);
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 920px) {
  footer header {
    gap: 4rem;
  }
  footer header a.brand {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer header .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer header .menu .menuItem {
    border-bottom: 1px solid var(--white);
    margin-bottom: 1rem;
    position: relative;
  }
  footer header .menu .menuItem.hasSubItems::after, footer header .menu .menuItem.hasSubItems::before {
    content: "";
    width: 1.4rem;
    height: 0.2rem;
    background: var(--white);
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  footer header .menu .menuItem.hasSubItems::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  footer header .menu .menuItem a.title {
    border-right: 0 !important;
    padding: 0 !important;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  footer header .menu .menuItem.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  footer header .menu .menuItem.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  footer header .menu .menuItem.active .subItems {
    max-height: 100vh;
  }
  footer header .menu .menuItem.active .subItems a.sub {
    visibility: visible;
  }
  footer header .menu .menuItem .subItems {
    max-height: 0px;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  footer header .menu .menuItem .subItems a.sub {
    visibility: hidden;
    -webkit-transition: visibility 0.3s;
    transition: visibility 0.3s;
  }
}

@media (max-width: 650px) {
  footer header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5rem;
  }
  footer .rights {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
}

#backToTopButton {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-filter: drop-shadow(0 0 0.05rem var(--headline));
          filter: drop-shadow(0 0 0.05rem var(--headline));
}

#backToTopButton svg {
  border: 1px solid var(--white);
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */