#navigation {
  background-color: var(--primary);
  padding-block: 1.6rem;
}

#navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1366px;
  margin-inline: auto;
  padding-inline: 2rem;
}

#navigation .container a.brand {
  display: block;
  width: 20rem;
}

#navigation .container a.brand img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#navigation .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  gap: 2rem;
}

#navigation .container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navigation .container .menu ul li {
  padding-inline: 2rem;
  color: var(--white);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

#navigation .container .menu ul li:not(:first-child) {
  border-left: 1px solid var(--white);
}

#navigation .container .menu ul li:hover {
  color: var(--secondary);
}

#navigation .container .menu a.button {
  background-color: var(--secondary);
  padding: 1rem 2rem;
  color: var(--primary);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

#navigation .container .menu a.button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

#navigation .container button.openMenu,
#navigation .container button.closeMenu {
  display: none;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: none;
}

@media (max-width: 1100px) {
  #navigation .container .menu {
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: -1;
    background-color: var(--primary);
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
  }
  #navigation .container .menu ul {
    padding-top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #navigation .container .menu ul li {
    padding-block: 1rem;
    border: 0 !important;
    font-size: 1.8rem;
  }
  #navigation .container button.closeMenu {
    display: none;
  }
  #navigation .container button.openMenu {
    display: block;
  }
  #navigation .container.active .menu {
    right: 0;
  }
  #navigation .container.active button.closeMenu {
    display: block;
  }
  #navigation .container.active button.openMenu {
    display: none;
  }
}

#banner {
  width: 100%;
  height: 60rem;
  padding: 2rem;
  background: url("../assets/images/hero_img.svg");
  background-repeat: no-repeat;
  background-position: 101% -95px;
  background-size: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner .bannerContent {
  max-width: 1140px;
  width: 100%;
}

#banner .bannerContent .bannerText {
  max-width: 40rem;
  width: 100%;
}

#banner .bannerContent .bannerText h1 {
  font-size: 4rem;
  color: var(--primary);
}

#banner .bannerContent .bannerText h1 span {
  color: var(--black);
  font-family: 'Abhaya Libre', serif;
  display: block;
}

#banner .bannerContent .bannerText strong {
  margin-top: 20px;
  display: inline-block;
}

#services {
  padding: 2rem;
}

#services .servicesContent {
  max-width: 1140px;
  margin: 0 auto;
}

#services .servicesContent h3 {
  position: relative;
  font-size: 2rem;
  color: var(--primary);
}

#services .servicesContent h3::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 200px;
  left: 0;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, var(--primary) 9.6%, var(--white) 93.6%);
}

#services .servicesContent .servicesGrid {
  width: 100%;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1100px) {
  #services .servicesContent .servicesGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  #services .servicesContent .servicesGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#services .servicesContent .servicesGrid .servicesCard {
  width: 100%;
  height: 290px;
  padding: 1rem;
  -webkit-box-shadow: 0 5px 12px rgba(121, 86, 156, 0.2);
          box-shadow: 0 5px 12px rgba(121, 86, 156, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#services .servicesContent .servicesGrid .servicesCard img {
  max-height: 100px;
}

#services .servicesContent .servicesGrid .servicesCard strong {
  color: var(--primary);
  margin: 5px 0;
}

#services .servicesContent .servicesGrid .servicesCard a {
  font-weight: bold;
  margin-top: auto;
}

#dataDriven {
  width: 100%;
  padding: 2rem;
}

#dataDriven .dataDrivenContent {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

#dataDriven .dataDrivenContent img {
  max-width: 450px;
  width: 100%;
}

@media (max-width: 1100px) {
  #dataDriven .dataDrivenContent img {
    max-width: 300px;
  }
}

@media (max-width: 650px) {
  #dataDriven .dataDrivenContent img {
    display: none;
  }
}

#dataDriven .dataDrivenContent .dataDrivenTextContent {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(9.6%, var(--white)), color-stop(93.6%, var(--primary)));
  background: linear-gradient(90deg, var(--white) 9.6%, var(--primary) 93.6%);
  padding: 10px 20px;
  border-radius: 20px;
}

@media (max-width: 1100px) {
  #dataDriven .dataDrivenContent .dataDrivenTextContent {
    background: rgba(121, 86, 156, 0.6);
  }
}

@media (max-width: 650px) {
  #dataDriven .dataDrivenContent .dataDrivenTextContent {
    background: rgba(121, 86, 156, 0.6);
  }
}

#dataDriven .dataDrivenContent .dataDrivenTextContent .dataDrivenText {
  max-width: 400px;
  text-align: right;
  margin-left: auto;
}

@media (max-width: 650px) {
  #dataDriven .dataDrivenContent .dataDrivenTextContent .dataDrivenText {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
  }
}

#dataDriven .dataDrivenContent .dataDrivenTextContent .dataDrivenText h2 {
  font-size: 4rem;
  color: var(--white);
  margin-left: auto;
}

#dataDriven .dataDrivenContent .dataDrivenTextContent .dataDrivenText h2 span {
  color: var(--black);
  font-family: 'Abhaya Libre', serif;
  display: block;
}

#dataDriven .dataDrivenContent .dataDrivenTextContent .dataDrivenText p {
  color: var(--black);
  font-weight: 100;
}

#dashboards {
  width: 100%;
  padding: 2rem;
}

#dashboards .dashboardsContent {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

#dashboards .dashboardsContent .dashboardsText {
  max-width: 350px;
  width: 100%;
}

#dashboards .dashboardsContent .dashboardsText h3 {
  font-size: 4rem;
  color: var(--primary);
}

#dashboards .dashboardsContent .dashboardsText h3 span {
  color: var(--black);
  font-family: 'Abhaya Libre', serif;
  display: block;
}

#dashboards .dashboardsContent .dashboardsText strong {
  margin-top: 10px;
  display: inline-block;
}

#dashboards .dashboardsContent .dashboardsText p {
  font-weight: 100;
}

#dashboards .dashboardsContent img {
  max-width: 600px;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */